// for responsive elements
$breakpoint-tablet: 992px;
$breakpoint-mobile: 600px;

// font families
$primary-font-family: 'Open Sans', sans-serif;
$secondary-font-family: 'Open Sans Semi Bold', sans-serif;


// color scheme
$primary-dark-color: #1e2130;
$secondary-dark-color: #2d3038;
$primary-light-color: #f3f5f4;
$secondary-light-color: #a9a9a9;
$primary-accent-color: #82c9e6;
$secondary-accent-color: #f4d44d;
$tertiary-accent-color: #f45060;